@model List<Album>

@{
    ViewBag.Title = "Top Tracks do Usuário";
    Layout = "_Layout";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; text-align:center;">

    <form asp-controller="User" asp-action="GetTopAlbums" method="post" class="d-flex flex-wrap justify-content-center align-items-end gap-3">

        <div class="flex-grow-1" style="min-width:150px;">
            <label for="nomeUsuario" class="form-label">User do Lastfm:</label>
            <input type="text" id="nomeUsuario" name="nomeUsuario" required class="form-control"/>
        </div>

        <div style="min-width:150px;">
            <label for="period" class="form-label">Período:</label>
            <select id="period" name="period" class="form-control">
                <option value="7day">Últimos 7 dias</option>
                <option value="1month">Último mês</option>
                <option value="3month">Últimos 3 meses</option>
                <option value="6month">Últimos 6 meses</option>
                <option value="12month">Últimos 12 meses</option>
                <option value="overall">Todo histórico</option>
            </select>
        </div>

        <div style="min-width:100px;">
            <label for="limit" class="form-label">Quantidade:</label>
            <select id="limit" name="limit" class="form-control">
                <option value="4">4 albuns</option>
                <option value="8">8 albuns</option>
                <option value="16">16 albuns</option>
            </select>
        </div>

        <div style="min-width:100px;">
            <button id="botao" type="submit" class="btn btn-primary w-100">Pesquisar</button>
        </div>

    </form>

    <br/>
    @if (Model != null && Model.Any())
    {
        <div style="display: grid; grid-template-columns: repeat(4, 1fr); justify-items:center; margin-top:20px;">
            @foreach (var album in Model)
            {
                <img src="@album.Image?.LastOrDefault(s => s.Size == "large")?.Url"
                     alt="@album.Name"
                     class="img-fluid rounded"
                     style="width:150px;"/>
            }
        </div>
    }
</div>
